extends layout

block content
  nav
    ul
      li
        a(href="#skills") Technical skills
        ul
          li
            a(href="#languages") Programming Languages
          li
            a(href="#domains") Domains
          li
            a(href="#systems") Operating Systems
      li
        a(href="#projects") Projects
      li
        a(href="#education") Education
      li
        a(href="#other") Miscellaneous

  div.content
    section
      h2#skills Technical skills
      ul.wrapping
        li
          h3#languages Programming Languages
          ul
            li C++
            li C
            li R
            li Python
            li Bash / Sh / Zsh
            li HTML5
            li CSS3
            li Javascript
            li Node.js
            li Ecmascript 6
            li Java
            li Cortex M3 Assembly / x86 Assembly
        li
          h3#domains Domains
          ul
            li Software development
            li Web development
            li System administration
        li
          h3#systems Operating Systems
          ul
            li Debian / Ubuntu
            li Fedora
            li Arch Linux
            li Gentoo
            li Windows
            li Mac OS

    section
      h2#projects Projects
      table
        tr
          th Projet name
          th Description
          th Date
          th Skills
        tr
          td Rust-mode
          td A small library to imitate some Rust concepts in C++
          td 2015
          td C++, Généric Programming
        tr
          td Slideo
          td A tool to usae videos as presentation
          td 2015
          td C++, User Interfaces
        tr
          td API-calendar
          td REST API to get some specific informations about a global student calendar
          td 2015
          td Node.js, API
        tr
          td IT-3004
          td A library providing graph classes and some graph algorithms
          td 2016
          td C++, Algorithms

    section
      h2#education Education
      table
        tr
          th School
          th Diploma
          th Date
        tr
          td ESIEE Paris
          td Engineering degree (Master's degree equivalent) in Computer Science
          td 2013 - 2018
        tr
          td Lycée Blanche de Castille
          td S Baccalaureate (A levels in science) - With merit
          td 2010 - 2013

    section
      h2#other Miscellaneous
      ul
        li Vice-president of Club *Nix (computer science club)
        li Piano: 13 years of conservatoire
        li Accordion: 1 year of conservatoire
        li Tennis
        li Fencing
        li 3D Computer Graphics
