extends layout

block content
  nav
    ul
      li
        a(href="#skills") Technical skills
        ul
          li
            a(href="#languages") Programming Languages
          li
            a(href="#domains") Domains
          li
            a(href="#systems") Operating Systems
      li
        a(href="#projects") Projects
      li
        a(href="#education") Education
      li
        a(href="#other") Miscellaneous

  div.content
    section
      h2#skills Technical skills
      ul
        li
          h3#languages Programming Languages
          ul
            li C++
            li C
            li R
            li Python
            li Bash / Sh / Zsh
            li HTML5
            li CSS3
            li Javascript
            li Node.js
            li Ecmascript 6
            li Java
            li Cortex M3 Assembly / x86 Assembly
        li
          h3#domains Domains
          ul
            li Software development
            li Web development
            li System administration
        li
          h3#systems Operating Systems
          ul
            li Debian / Ubuntu
            li Fedora
            li Arch Linux
            li Gentoo
            li Windows
            li Mac OS

    section
      h2#projects Projects
      table
        tr
          th Nom du projet
          th Date
          th Compétences
        tr
          td Rust-mode
          td 2015
          td C++

    section
      h2#education Education
      table
        tr
          th École
          th Date
        tr
          td Rust-mode
          td 2015

    section
      h2#other Miscellaneous
      ul
        li Vice-président du Club *Nix
        li Piano: 13 ans de conservatoire
        li Accordéon: 1 ans de conservatoire
