nav
	@media screen and (min-width: 1213px)
		float left
	@media print
		display none
	width 15%
	height 100%
	border-right 2px solid black
	margin-right 5%

nav ul li
	margin-top .5em

nav ul li:first-of-type
	margin-top 0

nav ul li a
	color blue
	transition color .3s

nav ul li a:hover,
nav ul li a:active
	color navy
